<% if target and target.errors.any? %>  
<div id="errors" class="rounded">  
  <h2><%= pluralize(target.errors.count, "error") %> prohibited this upload from being processed:</h2>  
  <ul>  
  <% target.errors.full_messages.each do |msg| %>  
    <li><%= msg %>.</li>  
  <% end %>  
  </ul>  
</div>  
<% end %> 
