<h1><%= @title %></h1>

<h2>Code</h2>
<p>Steady is a Ruby on Rails application and is available as open source software. 
<%= link_to 'See the full source code.', 'https://github.com/jronallo/steady' %></p>

<h2>Use Cases</h2>
<p>In most cases tools like Archivists' Toolkit are preferred because they 
centralize and normalize the creation of archival description and arrangement.
We have two main use cases for maintaining container lists in spreadsheets
instead of working directly in Archivists' Toolkit.</p>

<ol>
  <li>Sometimes donors provide container lists for their collections as a
  spreadsheet. In other cases hired appraisers will provide detailed spreadsheets
  which could also be used as container lists. We want to be able to edit those 
  as little as possible to allow them to form the basis of a preliminary inventory. 
  In this way in MPLP-style we can make the collection accessible as quickly as possible.  </li>
  
  <li>NCSU Libraries stores some of its architectural collections like 
  drawings in off-site storage. With poor wireless coverage in some areas it 
  is more convenient to enter container information</li>
</ol>

<h2>Discuss use cases or add your own</h2>

