<h2><%= @title %></h2>
<p>This little utility was developed by Jason Ronallo as part of his work at
NCSU Libraries.</p>
<p>email: <a href="mailto:jronallo@gmail.com">jronallo@gmail.com</a></p>

<h2>Problems or Issues?</h2>

<p>Please feel free to contact me about any issues you have with using Steady. 
Please attach your CSV file and if available the EAD XML output from
this tool.</p>

<h2>Or contact me through a comment below</h2>

