<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Steady use!</h1>
    <p>email: <%= @upload.email %></p>
    <p>name: <%= @upload.name %></p>
    <p>organization: <%= @upload.organization %></p>
    <% if !@upload.csv -%>
      <p>There was no file uploaded.</p>
    <% end -%>

  </body>
</html>
