<div id="menu">
  <% if try_stead_link? -%>
    <%= link_to 'try stead', csv_import_path, :class => 'rounded' %>
  <% end -%>
  <%= link_to 'contact', pages_contact_path, :class => 'rounded' %>
  <%= link_to 'about', pages_about_path, :class => 'rounded' %>
</div>
